@import '~antd/dist/antd.css';

.background{
  background-image: url('./images/09_fondo_port_izq.jpg');
}
.ant-layout-content-header {
  background-color: lightblue;
}
.ant-avatar {
  overflow: visible;
  height: 50px;
}
.border-details{
  padding: 30px;
}
.ant-card{
  margin: 0,15px;
}
.ant-modal-content{
  width: 600px;
}
.modal-col{
  width: 250px;
  text-align: left;
}
.ant-image{
  width: 100px;
  height: 130px;
}